body {
  margin: 0;
  padding: 0;
  background: darkslategray;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  color: lightgray;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  text-align: center;
  margin: 0;
}

header h1 {
  margin: 8px;
}

.scores {
  display: flex;
  justify-content: space-between;
  font-family: "Courier New", Courier, monospace;
  font-size: 24px;
  background: black;
  margin: 0;
  padding: 8px;
  padding-top: 16px;
  width: 800px;
}

button {
  font-family: "Courier New", Courier, monospace;
  font-size: 24px;
  background: lightgray;
  color: black;
  border: none;
  padding: 8px;
}

button:hover {
  background: darkgray;
}

canvas {
  border: 8px solid black;
  border-bottom: 0;
}

.bottom {
  font-family: "Courier New", Courier, monospace;
  font-size: 24px;
  color: lightgray;
  background: black;
  width: 800px;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

#speed {
  font-size: 20px;
  padding: 4px;
  background: lightgray;
  margin-right: auto;
}
